body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x:hidden;
}

/*
* Navigation Begining
*/

nav.navbar{
    padding-top: 2vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3vh;
}

ul.navbar-nav.ml-auto {
    margin-right: 5vw;
}

li.nav-item {
    border: 1px solid #ffffff;
    margin-left: 2vw;
    transition: border 0.5s ease;
}
li.nav-item:hover {
    border: 1px solid rgba(255, 102, 0, 0.0);
}

a.nav-link {
    color: #FFFFFF !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;  
    margin: 1px 10px;
}


.solidify nav{
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0) ;
}

.solidify a.nav-link{
    font-size: 13px;  
}

@media only screen and (max-width: 769px) {
    nav.navbar{
        background-color: rgba(0, 0, 0, 0.8) !important;
        text-align: center;
    }

    li.nav-item {
        border: 0px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        padding:20px 0;
    }

    a.nav-link {
        font-size: 20px;  
    }

    .solidify a.nav-link{
        font-size: 20px;   
    }

  }


/*
* Navigation End
*/

/*
* Home Begining
*/

.home_section{
    height: 100vh;
    background-image: url("../images/banner/home_banner_bw.jpg");
    background-size: cover;
    position:relative;
}

.home_row{
    position:relative;
    /* top:25%;  */
    /* height:50%;  */
    text-align:center;
}

.home_title {
    font-family: Raleway, sans-serif;
  }

.home_sub_title{
    font-family: Raleway, sans-serif;
    font-weight: bolder;
   color: #D54A3F !important;
}

@media only screen and (max-width: 600px) {
    .home_title {
      font-size: 50px;
    }

    .home_sub_title{
        font-size: 30px;
    }
  }
.col_icon .icons a{
    text-decoration: none !important;
}
.col_icon{
    margin-top: 5vh;
}

.social_icon{
    margin-left: 3vw;
    transition: color 0.5s ease;
    
}
.fa-linkedin-in:hover{
    color: #0270AD;
}

.fa-github:hover{
    color : #753A58; 
}
.fa-envelope:hover{
    color: #D54A3F; 
}

/*
* Home End
*/

/*
* About Me Begining
*/

 .aboutme_section{
    padding-bottom: 10vh;
} 

.title{
    margin-top: 50px;
    color: #293540;
    font-weight: bold;
}

.aboutme_card{
    border-right: 3px solid #D54A3F;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-style: italic;
    color: #989898;
}

.aboutme_text{
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color:#1c1e29;
    font-weight:400;
    text-align: center
}

/*
* Experiences  Begining
*/
section{
    display:block;
}
 a{
    background-color:transparent;
}
 a:active,a:hover{
    outline:0;
}
 @media print{
     *,:before,:after{
        color:#000!important;
        text-shadow:none!important;
        background:transparent!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
     a,a:visited{
        text-decoration:underline;
    }
     a[href]:after{
        content:" (" attr(href) ")";
    }
     a[href^="#"]:after{
        content:"";
    }
     p,h2{
        orphans:3;
        widows:3;
    }
     h2{
        page-break-after:avoid;
    }
}
 *{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
 :before,:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
 a{
    color:#337ab7;
    text-decoration:none;
}
 a:hover,a:focus{
    color:#23527c;
    text-decoration:underline;
}
 a:focus{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}
 h2{
    font-family:inherit;
    font-weight:500;
    line-height:1.1;
    color:inherit;
}
 h2{
    margin-top:20px;
    margin-bottom:10px;
}
 h2{
    font-size:30px;
}
 p{
    margin:0 0 10px;
}
 .container{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
 @media (min-width:768px){
     .container{
        width:750px;
    }
}
 @media (min-width:992px){
     .container{
        width:970px;
    }
}
 @media (min-width:1200px){
     .container{
        width:1170px;
    }
}
 .row{
    margin-right:-15px;
    margin-left:-15px;
}
 .col-sm-6{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
}
 @media (min-width:768px){
     .col-sm-6{
        float:left;
    }
     .col-sm-6{
        width:50%;
    }
}
 .container:before,.container:after,.row:before,.row:after{
    display:table;
    content:" ";
}
 .container:after,.row:after{
    clear:both;
}

 a,a:hover,a:active{
    outline:0px!important;
    text-decoration:none;
}
 h2{
    font-size:38px;
    color:#222222;
    font-family:'Raleway', sans-serif;
    font-weight:normal;
    margin:0px 0 25px 0;
    text-align:center;
    text-transform:uppercase;
}
 p{
    line-height:24px;
    margin:0;
}
 h2,p{
    color:#0A1525;
}
 .timeline{
    position:relative;
    margin-bottom:100px;
    z-index:1;
}
 .timeline:before{
    display:block;
    content:"";
    position:absolute;
    width:50%;
    height:100%;
    left:1px;
    top:0;
    border-right:1px solid #F74D4D;
    z-index:-1;
}
 .timeline:after{
    display:block;
    content:"";
    position:absolute;
    width:50%;
    height:100px;
    left:1px;
    bottom:-105px;
    border-right:1px dashed #F74D4D;
    z-index:-1;
}
 .timeline .date-title{
    text-align:center;
    margin:70px 0 50px;
}
 .timeline .date-title span{
    padding:15px 30px;
    font-size:21px;
    font-weight:400;
    color:#fff;
    background:#F74D4D;
    border-radius:5px;
}


/*News Item */

 .news-item{
    padding-bottom:45px;
}
 .news-item.right{
    float:right;
    margin-top:40px;
}

 .news-item .news-content{
    margin:20px 30px 0 0;
    position:relative;
    padding:30px;
    padding-left:100px;
    background:#f5f5f5;
    border-radius:10px;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

 .news-item:hover .news-content{
    background:#F74D4D;
    color:#fff;
}
 .news-item.right .news-content{
    margin:20px 0 0 30px;
    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
}

@media only screen and (max-width: 760px) {
    .news-item .news-content{
        margin:0;
        /* padding:30px; */
        padding-left:30px;
    }
    .news-item.right .news-content{
        margin:20px 0 0 0;
        box-shadow:5px 5px 0 rgba(0,0,0,0.08);
    }
}

  .news-item .news-content:after{
    display:block;
    content:"";
    position:absolute;
    top:50px;
    right:-40px;
    width:0px;
    height:0px;
    background:transparent;
    border:20px solid transparent;
    border-left:20px solid #f5f5f5;
    -webkit-transition:border-left-color .3s ease-out;
    transition:border-left-color .3s ease-out;
} 
 .news-item.right .news-content:after{
    position:absolute;
    left:-40px;
    right:auto;
    border-left:20px solid transparent;
    border-right:20px solid #f5f5f5;
    -webkit-transition:border-right-color .3s ease-out;
    transition:border-right-color .3s ease-out;
}



 .news-item:hover .news-content:after{
    border-left-color:#F74D4D;
}
 .news-item.right:hover .news-content:after{
    border-left-color:transparent;
    border-right-color:#F74D4D;
}
 .news-item .news-content:before{
    display:block;
    content:"";
    position:absolute;
    width:20px;
    height:20px;
    right:-55px;
    top:60px;
    background:#F74D4D;
    border:3px solid #fff;
    border-radius:50%;
    -webkit-transition:background .3s ease-out;
    transition:background .3s ease-out;
}
 .news-item.right .news-content:before{
    left:-55px;
    right:auto;
}

@media only screen and (max-width: 600px) {
    .news-item .news-content:after{
        display:none;
    }
     .news-item .news-content:before{
        display:none;
    }
     
  }
  
 .news-content .date{
    position:absolute;
    width:80px;
    height:80px;
    left:10px;
    text-align:center;
    color:#F74D4D;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
}
 .news-item:hover .news-content .date{
    color:#fff;
}
 .news-content .date p{
    margin:0;
    font-size:38px;
    font-weight:400;
    line-height:48px;
}



 .news-content .news-title{
    font-size:24px;
    font-weight:300;
    text-align:left;
    margin-bottom:4px;
}
 .news-content p{
    font-size:16px;
    line-height:24px;
    font-weight:300;
    letter-spacing:0.02em;
    margin-bottom:10px;
}
 .news-content .read-more,.news-content .read-more:hover,.news-content .read-more:active,.news-content .read-more:focus{
    padding:10px 0;
    text-decoration:none;
    font-size:16px;
    color:#7A7C7F;
    line-height:24px;
}
 .news-item:hover .news-content .read-more,.news-item:hover .news-content .read-more:hover,.news-item:hover .news-content .read-more:active,.news-item:hover .news-content .read-more:focus{
    color:#fff;
}
 .news-content .read-more{
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}
 .news-content .read-more:hover{
    padding-left:7px;
}
 .news-content .read-more:after{
    content:'\f054';
    padding-left:15px;
    font-family:'FontAwesome';
    font-size:21px;
    line-height:21px;
    color:#F74D4D;
    vertical-align:middle;
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}
 .news-content .read-more:hover:after{
    padding-left:20px;
}
 .news-item:hover .news-content .read-more:after{
    color:#fff;
}
 @media (max-width: 768px){
     p{
        font-size:14px;
    }
     h2{
        font-size:30px;
    }
}
/*! CSS Used fontfaces */
/* @font-face{
    font-family:'FontAwesome';
    src:url('https://webthemez.com/demo/john-bootstrap-one-page-html5-free-resume-template/fonts/fontawesome-webfont.eot?v=4.2.0');
    src:url('https://webthemez.com/demo/john-bootstrap-one-page-html5-free-resume-template/fonts/fontawesome-webfont.eot#iefix&v=4.2.0') format('embedded-opentype'), url('https://webthemez.com/demo/john-bootstrap-one-page-html5-free-resume-template/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('https://webthemez.com/demo/john-bootstrap-one-page-html5-free-resume-template/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('https://webthemez.com/demo/john-bootstrap-one-page-html5-free-resume-template/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}*/

/*
    ===========================
    Content Custom
    ===========================
*/

.news-item-custom{
    padding-bottom:45px;
}
 .news-item-custom.right{
    float:right;
    margin-top:40px;
}

 .news-item-custom .news-content{
    margin:20px 30px 0 0;
    position:relative;
    padding:30px;
    background:#f5f5f5;
    border-radius:10px;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.news-item-custom .news-content .news-title{
    text-align: center;
}

 .news-item-custom:hover .news-content{
    background:#F74D4D;
    color:#fff;
}
 .news-item-custom.right .news-content{
    margin:20px 0 0 30px;
    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
}

@media only screen and (max-width: 760px) {
    .news-item-custom .news-content{
        margin:0;
        /* padding:30px; */
        padding-left:30px;
    }
    .news-item-custom.right .news-content{
        margin:20px 0 0 0;
        box-shadow:5px 5px 0 rgba(0,0,0,0.08);
    }
}



/*
* Experiences  End
*/

/*
* From Blog Post Begin
*/

.fromMyBlog_section{
    padding-bottom: 50px;
}

.lastTwoPost_col{
    margin-bottom:10px;
}

.blog_post-over-row{
    padding-top: 50px;
}

.blog_post_card{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto , 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 25px;
    background: #f5f5f5;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.16);
    transition: color 0.5s ease;
    transition: background 0.5s ease;
    
}

.blog_post_card:hover{
    background: #F74D4D;
    color: rgb(255, 255, 255)
}


.blog_post_card:hover a{
    color:rgb(255, 255, 255);
}

.blog_post_card:hover .fa-angle-right{
    color: rgb(255, 255, 255)
}

.blog_post_more{
    font-size: 1.1em;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
}

.blog_post_more:hover{
    text-decoration: none !important;
}
.blog_post_more i {
    color: rgb(0, 0, 0);
}

.readmore_card{
    margin-top: 70px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*
* From Blog Post End
*/


/*
* From My Project Begin
*/
.fromMyProject_section{
    /*  margin-top: 50px;  */
    padding-bottom: 100px;   
}

.flip-container{
    padding-top: 30px;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    margin-top: 20px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    /* height: 50vh; */
    height: 300px;
    text-align: center;  
    
}

/* @media screen and (max-width: 1366px) and (min-width: 1024px) {
    .flip-container, .front, .back {
        width: 100%;
        height: 25vh;
        text-align: center;  
        
    }
  } */

/* flip speed goes here */
.flipper {
	transition: 0.8s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
    left: 0;
    border-radius: 20px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background: #293540;
}
.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.back-frame{
    margin-top: 5%;
    padding: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16;
    line-height: 20px;
}

.back-frame p{
    color: #FFFFFF;
}

.project_read_more{
    text-decoration: none !important;
    font-size: 18px;
    color: #F74D4D;
    border: 1px solid #F74D4D;
    border-radius: 20px;
    padding:10px 25px;
}

.project_read_more:hover{
    color: rgba(247, 77, 77, 0.8);
    border: 2px solid rgba(247, 77, 77, 0.8);
}

/*
* From My Project End
*/

/*
* Contact Section Begin
*/
.contact_section{
    margin-top: 3   vh;
}
.contact_text{
    border: 3px solid #293540;
    border-radius: 20px;
    padding: 20px 40px;
    text-align: center;
    color: #293540;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.2s ease;
    transition: background 0.2s ease;
}

.contact_text:hover{ 
    cursor: pointer;
    color: #FFFFFF;
    background: #293540;
}

.contact_text a{
    text-decoration: none !important;
    color: #293540;
}


/*
* Contact Section End
*/

/*
* Footer
*/
.footer_cantainer{
    background: #293540;
    margin-top: 50px;    
    padding-top: 5vh;
}

.footer_over_row{
    padding-bottom: 5vh;
}

.section{
    padding-top: 10px;
}

@media only screen and (max-width: 760px) {
    .section{
        padding-top: 30px;
        text-align: center;
        height: 30vh;
    }
  }

/* Section One*/

.footer_section_one p{
    margin-top: 10px;
    font-size: 17px;
}

.footer_section_one_link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.footer_section_one_link:hover{
    padding-left:2px;
    color: #FFFFFF;
}

/* Section Two*/
.tag{
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    display: inline-block;
    padding: 3px 5px;
    margin-top: 5px;
}
.footer_section_two a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.tag:hover{
    color: #293540;
    background: rgba(255, 255, 255, 255.8);
}

/* Section Three*/
.footer_section_three ul{
    list-style-type: none;
    padding-left: 0;
}

.footer_section_three ul a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.8);  
}

.footer_section_three ul a:hover{
    color: rgba(255, 255, 255, 1);
    padding-left: 2px;  
}

.menu_div{
    padding-top: 5px;
}

/* Section Four */
.post_row{
    margin-top: 8px;
}
.post_row a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
.post_row a:hover{
    padding-left:2px;
    color: #ffffff;
}
.footer_post_date{
    color: #F74D4D;
    font-size: 0.8em;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    left: 10px;
 }

 #top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    left: 10px;
 }

 .back_to_up{
    text-decoration: none;
 }


.copy_right{
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    background-color: #111111;
}
.copy_right_p{    
    text-align: center;
    color: #FFFFFF !important;
    font-size: 13px;
}


/*
    ==================
        BLOG PAGE
    ==================
*/
/*
    ======================
        Jombotron
    ======================
*/
.jumbotron_container{
    padding-top:25px;
    padding-bottom:5px;
    margin-bottom: 10px;
}
.jumbotron_custom{
    background-color: rgba(0,0,0,0.6) !important;
}
.jumbotron_content_container{
    padding:5px 5px 5px 10px;
    background-color: rgba(0,0,0,0.6) !important;
}
.jumbotron_content{
    color:white !important;          
    font-size: 16px;
}
.jumbotron_read_more{
  margin-top:10px;
}
/*
    =========================
        Latest Blog Post
    =========================
*/

.post_row{
    padding-top:10px;
    padding-bottom:10px;
}
.image-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.blog_post_col{
   padding-left:0;
   margin-left:0;
}
.category_tag ul{
   padding: 0;
   margin:0;
   list-style: none;
}

/*
    ======================
        Side Bar Widget
    ======================
*/
.widget-title {
    border-left: 6px solid rgba(0, 0, 0, 0.8);
    padding-left: 10px;
    color: #212529;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
  }
  
  .widget ul {
    padding-left: 0;
  }
  .widget ul li {
    list-style: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
  }
  .widget ul li a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.7);
  }
  .widget ul li:hover {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.8);
  }
  
  .widget a:hover {
    color: rgba(0, 0, 0, 0.8);
  }

/*
    ============================
      PROJECT LIST PAGE
    ============================
*/
.card_custom_body{
    padding: 20px;
}
  
/*
    ============================
        SINGLE PROJECT PAGE
    ============================
*/

.project_container p {
    color: rgba(0, 0, 0, 0.75);
    font-family: Sans-Serif,Segoe UI;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }
