.categories_title{
    border-left: 6px solid rgba(0, 0, 0,0.8);
    padding-left: 10px;
}



.categories_item{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
}

.categories_item:hover{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.8);
}
.categories_item a{
    text-decoration:none !important;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 10px;
}

.categories_item a:hover{
    color: rgba(0, 0, 0, 0.8);
}






